.container
    .row
        .col-sm-8
            h1 Creat new deploy
            form#new-deploy-form(role="form")
                div.form-group
                    label(for="project_name", required) Project Name
                    input.form-control.project-name(placeholder="MyProject")
                
                div.form-group
                    label(for="root", required) Root url
                    input.form-control.url-root(placeholder="root")

                div.form-group
                    label(for="repo_name", required) Github Repo Name
                    input.form-control.repo-name(placeholder="MyProject")

                input.form-control(type="submit") 