.header-container
    .main-heading-container
        a.main-heading(href="#") Sproxy
    .nav-button-group.btn-group
        a.nav-button(href="#create", type="button") Create Project
    //.nav-button-group.btn-group
        a.nav-button(href="#deploy", type="button") Deploy
